<#include "../../macro/global.ftl" />
<@mainLayout>
<!-- 操作表头开始 -->
<ul class="nav nav-tabs">
	<li><a href="${ctx!}/sys/menu/search${suffix!}"><i class="ace-icon glyphicon glyphicon-list" style="color:${tabStyle!}"></i>系统菜单列表</a></li>
	<li class="active"><a href="javascript:;"><i class="ace-icon glyphicon glyphicon-edit" style="color:${tabStyle!}"></i><#if model.id??>编辑<#else />添加</#if>系统菜单</a></li>
</ul>
<br />
<!-- 操作表头结束 -->
<@alertMsg />
<!-- 表单开始 -->
<form class="form-horizontal bt-validate" role="form" action="${ctx!}/sys/menu<#if model.id??>/edit<#else />/add</#if>${suffix!}" method="post">
<#if model.id??>
<input type="hidden" name="model.id" value="${model.id}" />
</#if>
<!-- 表单项开始 -->
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="parent_id"><i class="rr">*</i>父级菜单:</label>
	<div class="col-md-4">
		<select class="col-md-6" id="parent_id" name="model.parent_id">
			<option value="0"<#if model.parent_id?? && model.parent_id == 0> selected</#if>>根目录</option>
			<#list menus as menu>
			<option value="${menu.id}"<#if model.parent_id?? && model.parent_id == menu.id> selected</#if>>
				|
				<#list menu.parent_ids?split(',') as el>
				<#if el != ''>
				－
				</#if>
				</#list>
				${menu.name!}
			</option>
			</#list>
		</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="name"><i class="rr">*</i>菜单名:</label>
	<div class="col-md-4">
		<input type="text" id="name" name="model.name" value="${model.name!}" class="col-md-7" maxlength="50" btvd-type="required" />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="controller_key"><i class="rr">*</i>控制器KEY:</label>
	<div class="col-md-4">
		<input type="text" id="controller_key" name="model.controller_key" value="${model.controller_key!}" class="col-md-7" maxlength="50" btvd-type="required" />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="url"><i class="rr">*</i>URL:</label>
	<div class="col-md-4">
		<input type="text" id="url" name="model.url" value="${model.url!}" class="col-md-7" maxlength="120" btvd-type="required" />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="icon">图标:</label>
	<div class="col-md-4">
		<input type="text" id="icon" name="model.icon" value="${model.icon!}" class="col-md-7 tooltip-success" maxlength="50" data-rel="tooltip" data-placement="right" data-original-title="奥森图标"/>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="target"><i class="rr">*</i>页面打开方式:</label>
	<div class="col-md-4">
		<select id="target" name="model.target">
			<option value="_self"<#if model.target?? && model.target == '_self'> selected</#if>>本窗口</option>
			<option value="_blank"<#if model.target?? && model.target == '_blank'> selected</#if>>新窗口</option>
		</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="is_show"><i class="rr">*</i>是否在导航中显示:</label>
	<div class="col-md-4">
		<div class="radio">
			<label>
				<input name="model.is_show" type="radio" value="0" class="ace" <#if !model.is_show?? || model.is_show == '0'> checked</#if> />
				<span class="lbl">显示</span>
			</label>
			<label>
				<input name="model.is_show" type="radio" value="1" class="ace" <#if model.is_show?? && model.is_show == '1'> checked</#if> />
				<span class="lbl">不显示</span>
			</label>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="is_show"><i class="rr">*</i>是否必须授权菜单:</label>
	<div class="col-md-4">
		<div class="radio">
			<label>
				<input name="model.is_default" type="radio" value="0" class="ace" <#if !model.is_default?? || model.is_default==0> checked</#if> />
				<span class="lbl">不授权</span>
			</label>
			<label>
				<input name="model.is_default" type="radio" value="1" class="ace" <#if model.is_default?? && model.is_default==1> checked</#if> />
				<span class="lbl">授权</span>
			</label>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="sort"><i class="rr">*</i>排序:</label>
	<div class="col-md-4">
		<input type="text" id="sort" name="model.sort" value="${model.sort!}" class="col-md-7" maxlength="50" btvd-type="number" />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="status"><i class="rr">*</i>状态:</label>
	<div class="col-md-4">
		<div class="radio">
			<label>
				<input name="model.status" type="radio" value="0" class="ace" <#if !model.status?? || model.status == '0'> checked</#if> />
				<span class="lbl">正常</span>
			</label>
			<label>
				<input name="model.status" type="radio" value="1" class="ace" <#if model.status?? && model.status == '1'> checked</#if> />
				<span class="lbl">禁用</span>
			</label>
		</div>
	</div>
</div>
<!-- 表单项结束 -->
<hr />
<div class="wizard-actions">
	<div class="col-md-offset-2 col-md-10">
		<button class="btn btn-primary btn-xs col-md-2" type="submit" data-loading-text="处理中...">
			<span class="bigger-110"><i class="ace-icon fa <#if model.id??>fa-edit<#else />fa-save</#if>"></i> <#if model.id??> 编 辑 <#else /> 添 加 </#if></span>
		</button>
	</div>
</div>
</form>
<!-- 表单结束 -->

</@mainLayout>