<#include "../../macro/global.ftl" />
<@mainLayout>
<!-- 操作表头开始 -->
<ul class="nav nav-tabs">
	<li><a href="${ctx!}/sys/function/search${suffix!}"><i class="ace-icon glyphicon glyphicon-list" style="color:${tabStyle!}"></i>系统功能列表</a></li>
	<li class="active"><a href="javascript:;"><i class="ace-icon glyphicon glyphicon-edit" style="color:${tabStyle!}"></i><#if model.id??>编辑<#else />添加</#if>系统功能</a></li>
</ul>
<br />
<!-- 操作表头结束 -->
<@alertMsg />
<!-- 表单开始 -->
<form class="form-horizontal bt-validate" role="form" action="${ctx!}/sys/function<#if model.id??>/edit<#else />/add</#if>${suffix!}" method="post">
<#if model.id??>
<input type="hidden" name="model.id" value="${model.id}" />
</#if>
<!-- 表单项开始 -->
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="name"><i class="rr">*</i>功能名称:</label>
	<div class="col-md-4">
		<input type="text" id="name" name="model.name" value="${model.name!}" class="col-md-7" maxlength="50" btvd-type="required"  />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="method_key"><i class="rr">*</i>方法KEY:</label>
	<div class="col-md-4">
		<input type="text" id="method_key" name="model.method_key" value="${model.method_key!}" class="col-md-7" maxlength="50" btvd-type="required"  />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="icon">图标:</label>
	<div class="col-md-4">
		<input type="text" id="icon" name="model.icon" value="${model.icon!}" maxlength="50" data-rel="tooltip" class="tooltip-success" data-placement="right" data-original-title="奥森图标"/>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label no-padding-right" for="remark">描述:</label>
	<div class="col-md-3">
		<textarea id="form-field-11" class="autosize-transition form-control" id="remark" name="model.remark" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;">${model.remark!}</textarea>
	</div>
</div>

<div class="form-group">
	<label class="col-md-2 control-label no-padding-right"><i class="rr">*</i>状态:</label>
	<div class="col-md-4">
		<div class="radio">
			<label>
				<input name="model.status" type="radio" value="0" class="ace" <#if !model.status?? || model.status == '0'> checked</#if> />
				<span class="lbl">正常</span>
			</label>
			<label>
				<input name="model.status" type="radio" value="1" class="ace" <#if model.status?? && model.status == '1'> checked</#if> />
				<span class="lbl">禁用</span>
			</label>
		</div>
	</div>
</div>
<!-- 表单项结束 -->

<hr />
<div class="wizard-actions">
	<div class="col-md-offset-2 col-md-10">
		<button class="btn btn-primary btn-xs col-md-2" type="submit" data-loading-text="处理中...">
			<span class="bigger-110"><i class="ace-icon fa <#if model.id??>fa-edit<#else />fa-save</#if>"></i> <#if model.id??> 编 辑 <#else /> 添 加 </#if></span>
		</button>
	</div>
</div>
</form>
<!-- 表单结束 -->

</@mainLayout>